<div class="page-wrapper flex flex-col items-center justify-center min-h-screen bg-white px-4">

  <!-- Botones para elegir -->
  <div class="segment-wrapper w-full max-w-md">
    <div class="segment bg-gray-200 rounded-full p-1 flex justify-between mb-6 shadow-md">
      <button [class.bg-blue-600]="show === 'login'" [class.text-white]="show === 'login'"
        class="flex-1 py-2 rounded-full transition duration-200 hover:bg-blue-500 hover:text-white"
        (click)="show = 'login'">
        Login
      </button>
      <button [class.bg-blue-600]="show === 'register'" [class.text-white]="show === 'register'"
        class="flex-1 py-2 rounded-full transition duration-200 hover:bg-blue-500 hover:text-white"
        (click)="show = 'register'">
        Registro
      </button>
    </div>
  </div>

  <!-- Formularios -->
  <div class="w-full max-w-md rounded-xl p-2">
    @if (show === 'login') {
    <app-login></app-login>
    }
    @if (show === 'register') {
    <app-register></app-register>
    }
  </div>

</div>